@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.services-item {
  @apply flex flex-col p-6 space-y-6 bg-gray-100 rounded-lg md:w-1/4 h-72 md:w-1/4 relative md:hover:scale-110 md:duration-200 cursor-pointer;
}

.section--hidden {
  @apply opacity-0 transform translate-y-24;
}

.hover-effect {
  @apply md:hover:scale-110 md:duration-200;
}
.property-item {
  @apply flex flex-col shadow-2xl shadow-gray-400 cursor-pointer hover-effect rounded-xl pb-3;
}

.custom-shape-divider-bottom-1698534490 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698534490 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.custom-shape-divider-bottom-1698534490 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1698534490 svg {
    width: calc(100% + 1.3px);
    height: 31px;
  }
}

.custom-shape-divider-top-1698543426 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698543426 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.custom-shape-divider-top-1698543426 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1698543426 svg {
    width: calc(300% + 1.3px);
    height: 320px;
  }
}

.custom-shape-divider-bottom-1698772377 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698772377 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 146px;
}

.custom-shape-divider-bottom-1698772377 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1698775828 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698775828 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 78px;
}

.custom-shape-divider-top-1698775828 .shape-fill {
  fill: #ffffff;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: green;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 30px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

.spacer {
  aspect-ratio: 1020/300;
  width: 100;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./../public/img/haikei.svg");
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  /* display: inline-block; */
  animation: 20s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
  width: fit-content;
}

/* #map:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;

  background: linear-gradient(
    to right bottom,
    rgba(101, 173, 113, 0.6),
    rgba(175, 170, 170, 0.6)
  );
  pointer-events: none;
  z-index: 999;
} */
