@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

#section1 {
  background-image: linear-gradient(rgba(16, 106, 31, 0.6), rgba(0, 0, 0, 0.6)),
    url(" ./../img/land-1.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  height: 100%;
}

/* 
* Optional: Makes the sample page fill the window. 
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.services-item {
  @apply bg-cover h-72 md:w-1/4 relative md:hover:scale-110 md:duration-200;
}

.hover-effect {
  @apply md:hover:scale-110 md:duration-200;
}
.property-item {
  @apply flex flex-col shadow-2xl cursor-pointer hover-effect rounded-xl pb-3;
}

.custom-shape-divider-bottom-1698534490 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698534490 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.custom-shape-divider-bottom-1698534490 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1698534490 svg {
    width: calc(100% + 1.3px);
    height: 31px;
  }
}

.custom-shape-divider-top-1698543426 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698543426 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.custom-shape-divider-top-1698543426 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1698543426 svg {
    width: calc(300% + 1.3px);
    height: 320px;
  }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: green;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  display: none;
}
