@tailwind base;
@tailwind components;
@tailwind utilities;

#section1 {
  background-image: linear-gradient(rgba(16, 106, 31, 0.6), rgba(0, 0, 0, 0.6)),
    url(" ./../img/land-1.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  height: 100%;
}

/* 
* Optional: Makes the sample page fill the window. 
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
