@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

#section1 {
  background-image: linear-gradient(rgba(16, 106, 31, 0.6), rgba(0, 0, 0, 0.6)),
    url(" ./../img/land-1.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  height: 100%;
}

/* 
* Optional: Makes the sample page fill the window. 
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.services-item {
  @apply bg-cover h-72 md:w-1/4 relative md:hover:scale-110 md:duration-200;
}

.hover-effect {
  @apply md:hover:scale-110 md:duration-200;
}
.property-item {
  @apply flex flex-col shadow-2xl cursor-pointer hover-effect rounded-xl pb-3;
}

.custom-shape-divider-bottom-1698534490 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698534490 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.custom-shape-divider-bottom-1698534490 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1698534490 svg {
    width: calc(100% + 1.3px);
    height: 31px;
  }
}

.custom-shape-divider-top-1698543426 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1698543426 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 65px;
}

.custom-shape-divider-top-1698543426 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1698543426 svg {
    width: calc(300% + 1.3px);
    height: 320px;
  }
}

/* header {
  background-color: #262626;
} */
li {
  color: green;
  list-style: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: rgb(110, 214, 158);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: green;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
